.card{
    background: #1a1919;
    padding: 1.2rem 1rem;


    img{
        width: 100%;
        }

    .card_name{
        color: #fff;
        padding: 1rem 0;
    }

    .card_designation p{
        padding-bottom: 1rem;
        font-size: 1.1rem;
        text-align: justify;
    }

    .social_links{
        display: flex;
        justify-content: center;
        padding: 0.5rem 0;
    }

    .social_links .social_links_icon{
        padding: 0.5rem 1rem;
    }

}